MyCola/bin/Debug/MyCola.exe
MyCola/bin/Debug/MyCola.pdb
MyCola/bin/Debug/MyCola.vshost.exe.manifest
MyCola/obj/Debug/MyCola.csproj.GenerateResource.Cache
MyCola/obj/Debug/MyCola.exe
MyCola/obj/Debug/MyCola.pdb

Docs/